*.class
*.log
*.jar
*.war
*.DS_Store
*.pyc
**/pkg/*
**/mq-golang/*
**/Go/src/*
!**/Go/src/*.go
**/node_modules/*
.idea
amqp-vertx/target/*
JMS/target/*
JMS/clientkey.jks
JMS/*.jar
JMS/*.pem
JMS/dependency-reduced-pom.xml