*.class
*.log
*.jar
*.war
*.DS_Store
*.pyc
**/pkg/*
**/mq-golang/*
**/Go/src/*
!**/Go/src/*.go
**/node_modules/*
.idea
amqp-vertx/target/*
.terraform.*
.terraform/
terraform.tfstate.*
terraform.tfstate

# Associated with the Python code
venv*
Python/tmp/
t



