
doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title #{title}
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous')

  body
    header(class='page-header')

      nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
        div(class="container-fluid")
          span(class="navbar-text col") MQ App : CodeEngine
          button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")
          div(class="collapse navbar-collapse" id="navbarSupportedContent")
            ul(class="navbar-nav me-auto mb-2 mb-lg-0")
              li(class="nav-item dropdown")
                a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false") Pages
                ul(class="dropdown-menu" aria-labelledby="navbarDropdown")
                  li(class="nav-item")
                    a(class="nav-link active btn btn-secondary" aria-current="page" href="/") Home
                  li(class="nav-item")
                    a(class="nav-link active btn btn-primary" aria-current="page" href="/mqput") Put messages
                  li(class="nav-item")
                    a(class="nav-link active btn btn-primary" aria-current="page" href="/mqget") Get messages
              li(class="nav-item dropdown")
                a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false") APIs
                ul(class="dropdown-menu" aria-labelledby="navbarDropdown")
                  li
                    a(class="dropdown-item" href="/api/mqget?limit=3") Get Messages

    div
    block content
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous")
    script(src='https://code.jquery.com/jquery-3.6.0.min.js')
    script(src='javascripts/mqpage.js')
